<header class="page-header">
    <nav>

        <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
            <svg width="20" height="20" aria-hidden="true">
                <use xlink:href="#down"></use>
            </svg>
        </button>
        <ul class="admin-menu">
            <li class="menu-heading">
                <h3>User</h3>
            </li>
            <li>
                <a href="/admin/routes">
                    <span>Routes</span>
                </a>
            </li>
            <li>
                <a href="/admin/tickets">
                    <span>Tickets</span>
                </a>
            </li>
            <li>
                <a href="/admin/users">
                    <span>Users</span>
                </a>
            </li>
            <li class="menu-heading">
                <h3>Settings</h3>
            </li>
            <li>
                <a id="settings" href="/admin/settings">

                    <span>Vehicles and Destinations</span>
                </a>
            </li>
            <li>
                <a id="profile" href="/profile">

                    <span>Profile</span>
                </a>
            </li>

            <li>
                <a class="collapse-btn" aria-expanded="true" aria-label="collapse menu" href="/perform_logout">

                    <span>Log Out</span>
                </a>
            </li>
        </ul>
    </nav>
</header>