<header class="page-header">
    <nav>

        <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
            <svg width="20" height="20" aria-hidden="true">
                <use xlink:href="#down"></use>
            </svg>
        </button>
        <ul class="admin-menu">
            <li class="menu-heading">
                <h3>Login/Register</h3>
            </li>
            <li>
                <a href="/login">
                    <span>Login</span>
                </a>
            </li>
            <li>
                <a href="/register">
                    <span>Register</span>
                </a>
            </li>
            <li>

            </li>

        </ul>
    </nav>
</header>